*{
    padding: 0;
    margin: 0;
     box-sizing:border-box ;
}
body{
    font-family: sans-serif;
}
.root{
    --primary-color:grey;
    --white-color:#fff;
}
.container{
margin: 0 auto;
width: 80%;
}

/* header */
header{
    width: 100%;

}
nav{
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;
}

ul{
    list-style: none;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
padding-right: 100px;
    
    /* color: var(--primary-color); */
    color: rgba(78, 76, 76, 0.947);
    text-transform: capitalize;
    font-size: 18px;
    font-weight: bold;
    position: relative;
}
ul li a::after{
    content:"" ;
    height: 3px;
    width: 0%;
    background-color:rgba(78, 76, 76, 0.947);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease;

}
ul li a:hover::after{
    width: 100%;
}
/* section */
.row{
    display: flex;
}
.content{
    width: 50%;
    height: 85vh;
    /* background-color: aquamarine; */
    /* center */
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    justify-content: center;
    padding: 20px;

}
img{
    width: 100%;
    height: 400px;
    object-fit: contain;
}
.content h1{
    font-size: 60px;
    line-height: 60px;
    color: aqua;
}
.content h1 span{
    color:rgba(155, 155, 155, 0.947) ;
}
.content p{
    color:rgba(78, 76, 76, 0.947) ;
    font-size: 18px;
    margin-top: 10px;
}
.content .btn a{
    text-decoration: none;
    display: inline-block;
    background-color:rgba(78, 76, 76, 0.947) ;
    color: #fff;
    padding: 10px 20px;
    margin-top: 20px;
    border: 2px solid rgba(78, 76, 76, 0.947);
    border-radius: 20px;
    transition: 0.5s ease;
}
.content .btn a:hover{
    background-color: transparent;
    color:rgba(78, 76, 76, 0.947) ;
}

section{
    position: relative;
}
.socialicon{
    display:flex;
    position: absolute;
    right: 20px;
    bottom: 0;
/* transform: rotate(45deg); */
    
    
}
.fa-brands{
color: rgba(78, 76, 76, 0.947);
margin: 9px;
}
