* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
}
:root{
   --primary-color: blueviolet;
   --white-color: #fff;
}
section{
    padding: 70px 0;
}
section h1{
    margin-bottom: 30px;
    font-size: 36px;
}
section:nth-child(even){
    background-color: #f9f3ff;
}
section:nth-child(odd){
    background-color: #fff;
}
.container {
    margin: 0 auto;
    width: 80%;
    
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header{
    position: fixed;
    height: 40px;
    background-color: blueviolet;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left:0
}
.nam{
    color: #fff;
}
ul{
    margin-top: 10px;
    list-style: none;

}
ul li{
    display: inline-block;

}
ul li a{
    text-decoration: none;
    padding: 10px;
    color: #fff;
    transition: 0.5s ease;
}
ul li a:hover{
    color: grey;

}


/* ::selection */
.row{
    display: flex;
}
.content{

    width: 50%;
    height: 85vh;

    /* center */
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    justify-content: center;
    padding: 20px;

}
.m{
    font-size: 30px;
}
.n{
    background-color: blueviolet;
    padding: 5px;
    width: 30%;
    border-radius:5%;
    color: #fff;
    transition: 0.5s ease;
}
.n:hover{
    color: #fff;
    background-color: grey;
    transform: scale(0.8);
}
p{
    color: rebeccapurple;
}
#b{
    
    background-color: grey;
    color: #fff;
    width: 25%;
    padding: 18px;
    font-size: 20px;
    transition: 0.5s ease;
}
#b:hover{
    background-color: pink ;
    color: #ff523b;
    transform: translateX(20px);
}

.content img{
     border-radius: 50%;
     height: 80%;
}
.abo{
    text-align: center;
}


#ab p{
    text-align: center;
    padding: 0 50px;
}



/* about us*/
h1{
    color: blueviolet;

}

/* services */
.ser{
    padding-top: 20px;
    text-align: center;
}
.card{
    padding: 10px;
    width: 24%;
    background-color: #fff;
    margin: 10px;
    box-shadow: 0px 0px 10px 2px rgb(88, 85, 85);
}
img{
    width: 100%;
    display: block;
    transition: 0.5s ease;
    
}
.image{
    
    overflow: hidden;

    
}
.title{
    padding: 18px 0px;
}
.title h1{
    color: grey;
}
.title a{
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    background-color:var(--primary-color);
    padding: 10px 20px;
    color: white;
    border: 2px solid var(--primary-color);
    transition: 0.5s ease;
}
.title a:hover{
    background-color: transparent;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}


.card:hover .image img{
    transform: scale(1.2);
}

.image span{
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 4px;
}
/* reasponsive */
@media(max-width:760px){
    .row{
        flex-direction: column;
    }
    .card{
        width: 100%;
    }
}

/* skill */

.skills{
    text-align: center;
    padding-top: 20px;

}
.ppp{
    border-radius: 20%;
}

.ht{
    width: 100%;
    background-color: #918d8d;

}
.content2{
    
    padding: 30px;
    
}


.per{
    width: 75%;
    color: var(--primary-color);

    background-color: var(--primary-color);
    height: 5px;
}
.cs{
    width: 100%;
    background-color: #918d8d;
    
}
.css{
    width: 80%;
    background-color: var(--primary-color);
    height: 5px;
}
.j{
    width: 100%;
    background-color: #918d8d;
}
.js{
    width: 60%;
    background-color: var(--primary-color);
    height: 5px;
}


#Skill p{
    float: right !important;
}

/* education */
.ed{
    text-align: center;
    padding-bottom: 10px;
}
.card3{
    width: 100%;
    padding: 10px;
    background-color: #fff;
    margin: 10px;
    box-shadow: 0px 0px 10px 2px rgb(88, 85, 85);
}

#sc{
    text-align: center;
}

/* test */
#rev{
    text-align: center;
    padding-bottom: 10px;
}
.card4{
    height: 300px;
    padding: 10px;
    width: 24%;
    background-color: #fff;
    margin: 10px;
    box-shadow: 0px 0px 10px 2px rgb(88, 85, 85);
}
   

/* review */
.card4 img{
    height: 135px;
    width: 100%;
    border-radius: 50%;
    padding: 5px;
}
.card4{
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    overflow: hidden;
    
}
.fa-star{
    margin-bottom: 10px;
    color: var(--primary-color);
}

/* reasponsive */
@media(max-width:500px){
    .row{
        flex-direction: column;
    }
    .card{
        width: 100%;
    }
}


footer{
    height: 300px;
    background-color: blueviolet;
    text-align: center;
    
}
.foot{
    
    color: #fff;
}
#section{
    width: 34%;
    padding: 10px;
    line-height: 30px;
}
